<!-- ボタン -->
<button mat-raised-button>Basic</button>
<button mat-raised-button color="primary">Primary</button>
<button mat-raised-button color="accent">Accent</button>
<button mat-raised-button color="warn">Warn</button>
<button mat-raised-button disabled>Disabled</button>
<a mat-raised-button routerLink=".">Link</a>
<br>
<br>
<!-- チェックボックス -->
<section class="example-section">
    <mat-checkbox class="example-margin">Checked</mat-checkbox>
    <mat-checkbox class="example-margin">Indeterminate</mat-checkbox>
</section>

<router-outlet></router-outlet>
