<h1 class="text-center my-1vh font-size-vh-5" (click)="showVersionInfo()">にじさんじ</h1>
<div class="my-1vh">
  <app-calendar date="{{Today | date: 'yyyy-MM-dd'}}" (onTap)="onTap($event)"></app-calendar>
</div>
<mat-list class="overflow-auto vh-42 my-1vh w-100"
  *ngIf="LiveInfoList.length > 0 && !ProgressSpinnerFlg">
  <mat-list-item *ngFor="let liveInfo of LiveInfoList">
    <mat-icon mat-list-icon>person</mat-icon>
    <div mat-line>
      <span class="w-60 d-inline-block" (click)="jumpOtherPage(liveInfo.url)">{{liveInfo.site | limitStr: 12}}</span>
      <span class="w-40 d-inline-block" (click)="setTimer(liveInfo)">{{liveInfo.date | date: 'yyyy/MM/dd'}}</span>
    </div>
    <div mat-line>
      <span class="w-60 d-inline-block" (click)="jumpOtherPage(liveInfo.url)">{{liveInfo.youtuber | limitStr: 12}}</span>
      <span class="w-40 d-inline-block" (click)="setTimer(liveInfo)">{{liveInfo.date | date: 'HH:mm ～'}}</span>
    </div>
  </mat-list-item>
</mat-list>
<div class="vh-42 w-100 overflow-auto" *ngIf="ProgressSpinnerFlg">
  <mat-spinner mode="indeterminate" class="mx-auto" style="margin-top:20%"></mat-spinner>
</div>
<p class="vh-42 my-1vh w-100 text-center line-vh-42 font-size-vh-4"
  *ngIf="LiveInfoList.length == 0 && !ProgressSpinnerFlg">
  配信予定はありません。
</p>
<div class="my-2vh text-center">
  <button mat-raised-button color="primary" class="mr-2vw my-1vh min-width-0 vh-6 font-size-vh-2"
    (click)="jumpNzSzSite()">公式</button>
  <button mat-raised-button color="primary" class="mx-2vw my-1vh min-width-0 vh-6 font-size-vh-2"
    (click)="jumpNzSzLive()">ライブ</button>
  <button mat-raised-button color="primary" class="mx-2vw my-1vh min-width-0 vh-6 font-size-vh-2"
    (click)="navigateTimer()">
    タイマー</button>
  <button mat-raised-button color="primary" class="ml-2vw my-1vh min-width-0 vh-6 font-size-vh-2"
    (click)="navigateOption()">
    設定</button>
</div>
