<h1 class="text-center my-5px">にじさんじ</h1>
<div class="m-5px">
  <app-calendar date="{{Today | date: 'yyyy-MM-dd'}}"></app-calendar>
</div>
<mat-list class="m-5px h-calc">
  <mat-list-item *ngFor="let liveInfo of LiveInfoList">
    <mat-icon mat-list-icon *ngIf="liveInfo.youtuber.length > 1">people</mat-icon>
    <mat-icon mat-list-icon *ngIf="liveInfo.youtuber.length <= 1">person</mat-icon>
    <div mat-line>
      <span class="w-60 d-inline-block">{{liveInfo.site | limitStr: 14}}</span>
      <span class="w-40 d-inline-block">{{liveInfo.date | date: 'yyyy/MM/dd'}}</span>
    </div>
    <div mat-line>
      <span class="w-60 d-inline-block">{{liveInfo.youtuber[0] | limitStr: 12}}</span>
      <span class="w-40 d-inline-block">{{liveInfo.date | date: 'HH:mm ～'}}</span>
    </div>
  </mat-list-item>
</mat-list>
<div class="my-5px text-center">
  <button mat-raised-button color="primary" class="my-5px mr-5px min-width-0"
    (click)="jumpNzSzSite()">公式</button>
  <button mat-raised-button color="primary" class="m-5px min-width-0"
    (click)="jumpNzSzLive()">ライブ</button>
  <button mat-raised-button color="primary" class="m-5px min-width-0">タイマー</button>
  <button mat-raised-button color="primary" class="my-5px ml-5px min-width-0">設定</button>
</div>
