<table class="w-100">
    <tr class="h-10px">
      <th colspan="7" class="text-center bg-lightblue">
        <table class="w-100">
          <tr class="h-10px">
            <td class="w-10px"><button class="min-width-0" (click)="backOneYear()" mat-button>◀</button></td>
            <td class="w-10px"><button class="min-width-0" (click)="backOneMonth()" mat-button>◁</button></td>
            <td class="w-100">{{ThisMonthString}}</td>
            <td class="w-10px"><button class="min-width-0" (click)="forwardOneMonth()" mat-button>▷</button></td>
            <td class="w-10px"><button class="min-width-0" (click)="forwardOneYear()" mat-button>▶</button></td>
          </tr>
        </table>
      </th>
    </tr>
    <tr class="h-10px">
      <td class="text-center font-weight-bold color-red">日</td>
      <td class="text-center font-weight-bold">月</td>
      <td class="text-center font-weight-bold">火</td>
      <td class="text-center font-weight-bold">水</td>
      <td class="text-center font-weight-bold">木</td>
      <td class="text-center font-weight-bold">金</td>
      <td class="text-center font-weight-bold color-blue">土</td>
    </tr>
    <tr class="h-10px" *ngFor="let weekLine of CalendarTable">
      <td *ngFor="let dayData of weekLine" class="text-center"
        [ngClass]="{'bg-lightcoral':dayData.todayFlg,
          'bg-lightgray':!dayData.todayFlg,
          'color-gray': !dayData.thisMonthFlg}"
        (click)="tap(dayData.date)">
          {{dayData.value}}
      </td>
    </tr>
</table>